@include fontFace('proxi','proximaNova/ProximaNova-Regular', 400, normal);
@include fontFace('proxi','proximaNova/ProximaNova-Light', 300, normal);
@include fontFace('proxi','proximaNova/ProximaNova-Bold', 700, normal);
// @include fontFace('PT Sans Narrow','PTSansNarrow/PTSansNarrowBold', bold, normal);
