@media(max-width: 1280px){ // x1024 планшеты альбом
  .right{right: 60px;}
  .left{left: 60px;}
}
@media(max-width: 1024px){ // x768 планшеты альбом
  .intro{padding-top: 200px;}
  .services{
    &__top{padding: 0 30px;}
    &__bottom{padding: 0 30px;}
    &__item{width: 30%;}
  }
  .reviews{
    .reviews-slider__item::before{
      left: 50px;
    }
    .slick-prev{left: 20px;}
    .slick-next{right: 20px;}
  }
  .customs{
    &__img{width: 50%;}
  }

}
@media(max-width: 768px){ // х1024 планшеты портрет
  .header {
    flex-wrap: wrap;
		&__logo {
      order: 1;
		}
		&__menu {
      order: 3;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      transform: translateY(-150px);
      transition: 1.5s;
    }
    .burger {
      order: 2;
    }
  }
  .intro{
    &__slider-item{padding-left: 30px;}
  }
  .about{
    padding-bottom: 50px;
    &__inner{flex-wrap: wrap;}
    &__img{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__desc{margin: 0 auto;}
    &-letter{
      right: 5px;
      top: -55px;
    }
  }
  .services{
    min-height: 1255px;
    
    &__bottom{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      max-width: 350px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .projects{
    min-height: 1000px;
    padding-bottom: 20px;
    &-letter{
      right: 5px;
      top: -15px;
    }
    .slider-top, 
    .slider-bottom{
      height: 240px;
      margin-bottom: 50px;
      img{
        display: block;
        height: 240px;
      }
      .slick-list{height: 240px;}
      .slick-slide{margin: 0px 20px 0px;}
      // .slick-active.slick-current.slick-center{
      //   margin-top: 0;
      //   height: 300px;
      //   img{
      //     height: 300px;
      //   }
      // }
    }
    .slider-bottom{
      .slick-slide{margin-top: 0;}
    }
    .dft-btn-border{margin-top: 35px;}
  }
  .reviews{
    .reviews-slider__item::before{
      font-size: 400px;
      top: -80px;
    }
  }
  .customs{
    padding-bottom: 50px;
    &__inner{flex-wrap: wrap;}
    &__img{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__desc{
      margin: 0 auto;
    }
    .dft-btn-border{margin: 0 auto;}
    .right{right: 20px;}
  }
  .footer{
    flex-wrap: wrap;
    &__logo{order: 2;}
    &__menu{
      text-align: center;
      order: 1;
      width: 100%;
    }
    &__copy{order: 3}
  }
}
@media(max-width: 480px){ // мобилки iphone6
  .header {
		&__menu {
      li + li{margin-left: 15px;}
    }
  }
  .intro{
    &__slider{
      padding: 0;
      &-item{
        h2{font-size: 55px;}
      }
      .slick-dots{
        margin: 0 auto;
        z-index: 10;
        bottom: -45px;
        li{
          margin: 0px 5px 0px 5px;
          width: 20px;
          height: 20px;
          background-color: grey;
          border-radius: 50%;
          &.slick-active{
            background-color: $orange;
          }
          button{
            width: 100%;
            height: 100%;
            &::before{display: none;}
          }
        }
      }
    }
    .social{
      li{display: block;}
      li + li{
        margin-left: 0;
        margin-top: 10px;
        a::before{display: none;}
      }
    }
  }
  .about{
    .right{right: 0;}
    .aside-text{bottom: 40px;}
  }
  .services{
    &__letter{
      right: 40px;
      left: auto;
    }
    .left{left: -23px;}
    .aside-text{bottom: 60px;}
  }
  .projects{
    .aside-text{bottom: 60px;}
    .right{right: 0;}
    min-height: 900px;
    &-letter{
      top: 90px;
    }
    .slider-top, 
    .slider-bottom{
      height: 180px;
      img{
        height: 150px;
      }
      .slick-list{height: 180px;}
      .slick-slide{margin: 0 20px 0;}
      // .slick-active.slick-current.slick-center{
      //   height: 180px;
      //   img{
      //     height: 180px;
      //   }
      // }
    }
    .dft-btn-border{margin-top: 35px;}

  }
  .reviews{
    padding-top: 100px;
    min-height: 550px;
    &-letter{left: 0;top: -200px;}
    .left{left: 0;}
    .aside-text{bottom: 70px;}
    .reviews-slider{padding: 0;}
    &-slider__item::before{display: none;}
    .slick-dots{
      margin: 0 auto;
      z-index: 10;
      bottom: -45px;
      li{
        margin: 0px 5px 0px 5px;
        width: 20px;
        height: 20px;
        background-color: grey;
        border-radius: 50%;
        &.slick-active{
          background-color: $orange;
        }
        button{
          width: 100%;
          height: 100%;
          &::before{display: none;}
        }
      }
    }
  }
  .customs{
    .aside-text{bottom: 50px;}
    .right{right: -45px;}
  }
}
@media(max-width: 320px){ //мобилки
  .container{padding: 0 5px;}
  .header{
    &__menu{
      a{font-size: 14px;}
    }
  }
  .intro{
    padding-top: 150px;
    &__slider-item{
      h2{
        font-size: 35px;
      }
      p{
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }
  .reviews{
    .reviews-slider{
      &__review{font-size: 30px;}
      &__name{font-size: 25px;}
      &__auto{font-size: 14px;}
    }
  }
}
