@media(max-width: 1280px){ // x1024 планшеты альбом
  .right{right: 60px;}
  .left{left: 60px;}
}
@media(max-width: 1024px){ // x768 планшеты альбом
  .intro{padding-top: 200px;}
  .services{
    &__top{padding: 0 30px;}
    &__bottom{padding: 0 30px;}
    &__item{width: 30%;}
  }
  .reviews{
    .reviews-slider__item::before{
      left: 50px;
    }
    .slick-prev{left: 20px;}
    .slick-next{right: 20px;}
  }
  .customs{
    &__img{width: 50%;}
  }

}
@media(max-width: 769px){ // х1024 планшеты портрет
  .header {
    flex-wrap: wrap;
		&__logo {
      order: 1;
		}
		&__menu {
      order: 3;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      transform: translateY(-150px);
      transition: 1.5s;
    }
    .burger {
      order: 2;
    }
  }
  .intro{
    &__slider-item{padding-left: 30px;}
  }
  .about{
    padding-bottom: 50px;
    &__inner{flex-wrap: wrap;}
    &__img{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__desc{margin: 0 auto;}
    &-letter{
      right: 5px;
      top: -55px;
    }
  }
  .services{
    min-height: 1255px;
    
    &__bottom{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      max-width: 350px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .projects{
    &-letter{
      right: 5px;
      top: -15px;
    }
    .slider-top, 
    .slider-bottom{
      height: 300px;
      margin-bottom: 50px;
      img{
        display: block;
        height: 240px;
      }
      .slick-list{height: 300px;}
      .slick-slide{margin-top: 56px;}
      .slick-active.slick-current.slick-center{
        margin-top: 0;
        height: 300px;
        img{
          height: 300px;
        }
      }
    }
    .slider-bottom{
      .slick-slide{margin-top: 0;}
    }
  }
  .reviews{
    .reviews-slider__item::before{
      font-size: 400px;
      top: -80px;
    }
  }
  .customs{
    padding-bottom: 50px;
    &__inner{flex-wrap: wrap;}
    &__img{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__desc{
      margin: 0 auto;
    }
    .dft-btn-border{margin: 0 auto;}
    .right{right: 20px;}
  }
  .footer{
    flex-wrap: wrap;
    &__logo{order: 2;}
    &__menu{
      text-align: center;
      order: 1;
      width: 100%;
    }
    &__copy{order: 3}
  }
}
@media(max-width: 480px){ // мобилки
  .header {
		&__menu {
      li + li{margin-left: 15px;}
    }
  }
}
@media(max-width: 320px){ //мобилки
  
}
