html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: proxi;
  font-weight: 400;
  font-size: 14;
  // line-height: ;
  // color: ;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.white{color: #fff;}
.black{color: #000;}
.bl-br{
  border-bottom: 1px solid transparent;
  transition: .4s;
  &:hover{border-color: #fff;}
}
.dft-link{
  color: $orange;
  text-transform: uppercase;
  border-bottom: 1px solid $orange;
}
.section-title {
  font-weight: 700;
  font-size: 60px;
  font-family: 'play';
}
.title-under{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    display: block;
    bottom: -10px;
    left: 0;
    width: 47px;
    height: 2px;
    background-color: $orange;
  }
}
.section-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.dft-btn-border {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  padding: 15px 74px 15px 74px;
  border: 2px solid $orange;
  transition: .5s;
  &:hover{
    background-color: $orange;
    color: #fff;
  }
}
.aside-text {
  position: absolute;
  bottom: 160px;
  transform: rotate(-90deg);
  font-family: 'play';
  span{
    position: relative;
    color: $orange;
    &::after{
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      right: -60px;
      width: 47px;
      height: 2px;
      background-color: $orange;
    }
  }
}
.right {
  right: 160px;
}
.left{left: 160px;}
.big-letter{
  font-weight: 700;
  font-family: 'play';
  font-size: 300px;
  color: rgba($orange, .22);
  text-transform: uppercase;
  position: absolute;
}
