$imgFolder: '../img/'; // путь к изображениям
$fontsFolder: '../fonts/'; // путь к шрифтам

@mixin play{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 60px;
  text-decoration: none;
}
$orange: #e3a062;