// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/scaffolding.scss';

header{
  position: absolute;
  width: 100%;
  padding: 0 40px;
  top: 40px;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between; 
  // &__logo {

  // }
  &__menu {
    // display: none;
    transition: 1s;
    transform: translateY(-100px);
    li{
      display: inline-block;
      & + li{margin-left: 36px;}
    }
    a{
      text-transform: uppercase;
      font-family: proxi;
      font-weight: 400;
      color: #fff;
    }
    &.active{transform: translateY(0)}
  }
  .burger {
    padding-right: 50px;
    &:hover{cursor: pointer;}
    &::after{
      position: absolute;
      content: 'menu';
      display: block;
      top: -1px;
      right: 39px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
    }
    div{
      width: 12px;
      height: 1px;
      background-color: $orange;
      & + div{
        margin: 4px 0px 0px 0px;
      }
    }  
  }
}

.intro {
  // height: 100vh;
  height: 1000px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 270px;
  &__slider {
    max-width: 1620px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    .slick-prev{
      left: 70px;
    }
    .slick-next{
      right: 70px;
    }
    .slick-next::before{
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: -27px;
      width: 47px;
      height: 2px;
      background-color: $orange;
    }
    .slick-prev::before{
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0px;
      width: 47px;
      height: 2px;
      background-color: $orange;
    }
    .slick-prev:after,
    .slick-next:after{
      position: absolute;
      top: 2px;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
    }
    .slick-prev:after{
      content: 'prev';
      left: -50px;
    }
    .slick-next:after{
      content: 'next';
      right: -50px;
    }
  }
  &__slider-item-wrapper{
    max-width: 1500px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
  &__slider-item {
    margin: 0 auto;
    max-width: 520px;
    width: 100%;
    h2{
      font-weight: 700;
      font-size: 120px;
      color: $orange;
      font-family: "Play";
    }
    p{
      max-width: 360px;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }
  }
  // .slick-prev:before, 
  // .slick-next:before {
  //   content: '';
  //   display: block;
  //   width: 47px;
  //   height: 2px;
  //   background-color: $orange;
  // }
  // .slick-prev:before{right: 0;}
  // .slick-next:before{left: 0;}
  // .slick-prev:after,
  // .slick-next:after{
  //   position: absolute;
  //   top: 10px;
  //   text-transform: uppercase;
  //   color: #fff;
  //   font-size: 14px;
  // }
  // .slick-prev:after{
  //   content: 'prev';
  //   left: -50px;
  // }
  // .slick-next:after{
  //   content: 'next';
  //   right: -75px;
  // }
  .social {
    position: absolute;
    left: 40px;
    bottom: 40px;
    li{
      display: inline-block;
      & + li{
        margin-left: 28px;
        a{position: relative;}
        a::before{
          position: absolute;
          content: '/';
          top: 0;
          left: -17px;
        }
        
      }
    }
    a{
      color: #fff;
    }
  }
  .scroll-down {
    position: absolute;
    bottom: 40px;
    right: 40px;
    a{color: #fff;}
  }
}
.about {
  min-height: 783px;
  position: relative;
  &__inner {
    display: flex;
    align-items: center;
    min-height: 540px;
    padding-top: 120px;
  }
  &__img {
    width: 60%;
    margin-right: 80px;
    img{
      max-width: 652px;
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  &__desc {
    max-width: 389px;
    width: 100%;
    .section-title{
      margin-bottom: 20px;
    }
    .section-desc{margin-bottom: 30px;}
  }
  &-letter{
    right: 60px;
    top: 110px;
  }
}
.services {
  min-height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &__letter{
    top: -175px;
    left: 85px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
  }
  &__link{
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 7px;
    border-bottom: 1px solid $orange;
  }
  &__bottom {
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item {
    position: relative;
    width: 352px;
    height: 352px;
    overflow-y: hidden;
  }
  &__item-grad{
    height: 100%;
    background: linear-gradient(to top, black 0%, transparent);
    opacity: .9;
    display: flex;
    align-items: flex-end;
  }
  &__item-name {
    font-size: 24px;
    margin: 0 auto 25px;
    transition: 1s;
  }
  &__hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(#000, .8);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-352px);
    transition: 1s;
    &-border{
      border: 1px solid $orange;
      width: 89.4%;
      height: 89.4%;
      padding-top: 75px;
    }
    &-title{
      font-size: 24px;
      position: relative;
      margin-bottom: 35px;
      &::after{
        position: absolute;
        content: '';
        display: block;
        bottom: -15px;
        width: 36px;
        height: 2px;
        background-color: $orange;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-desc{
      max-width: 224px;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
    }
    a{
      margin-top: 30px;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: .4s;
      &:hover{
        color: $orange;
        border-color: $orange;
      }
    }
  }
  &__item:hover{
    .services__hover{
      transform: translateX(0);
    }
    .services__item-name{
      display: none;
    }
  }
}



// .left {
// }

// .section-title {
// }















































@import 'components/media.scss';
